html, body {
    margin: 0;
    padding: 0;
    --main-font: 'Courier New', Courier, monospace;
    --off-white: #c9e4ca;
    --light: #87bba2;
    --base: #55828b;
    --bold: #3b6064;
    --text-color: #364958;
    background-color: aliceblue;

}

* {
    box-sizing: border-box;
}


/* Main section */

.chess-board-page {
    float: left;
    display: flex;
    width: 80%;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* width: 100vw; */
    /* border: 1px solid black; */
}

.captured-pieces {
    border-radius: 2vh;
    float: left;
    width: 25%;
    border: 1px solid var(--text-color);
    height:80vh;
    margin:5vh;
}

@media only screen and (max-width: 1500px) {
    .chess-board {
        width: 30rem;
        height: 30rem;
    }
}

@media only screen and (min-width: 1500px) {
    .chess-board {
        width: 52rem;
        height: 52rem;
    }
}

.chess-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid black;
}

/* Info section */
.info-page {
    float: left;
    display: flex;
    width: 20%;
    height: 100vh;
    border-left: .25em solid var(--text-color);
    padding: 10px;
    box-sizing: border-box;
    /* content: ""; */
    display: table;
    /* clear: both; */
}

.info-window {
    margin: auto;
    margin-top: 1em;
    border: 1px solid var(--text-color);
    /* padding: ; */
    width: 90%;
    height:40%;
}
.info-window h1, h2{
    text-align: center;
    font-family: var(--main-font);
    color: var(--bold);
}

/* Save controls */
.save-controls {    
    /* Need to finish button layout */
    list-style-type: none;

}
.save-controls button {
    padding: .75em;
    width: 22em;
    border-radius: 1vh;
    font-family: var(--main-font);
    border: 1px solid var(--text-color);
    background-color: var(--bold);
    color: aliceblue;
}



/* Chessboard for js */
.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square p {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.white {
    background-color: var(--off-white);
}

.black {
    background-color: var(--base);
}

.square.active {
    background-color: red;
}