html,
body {
    margin: 0;
    padding: 0;
    --main-font: 'Courier New', Courier, monospace;
    --off-white: #c9e4ca;
    --light: #87bba2;
    --base: #55828b;
    --bold: #3b6064;
    --text-color: #364958;
    --rounded-border: 2vh;

    /* 
    note:
    
    Apparantly you can get a more realistic
    shadow by layering a bunch on top of
    each other getting a "blended" effect.
    */
    --basic-shadow:
        2px 4px 4px hsl(0deg 0% 0% / 0.333),
        3px 6px 6px hsl(0deg 0% 0% / 0.333),
        4px 8px 8px hsl(0deg 0% 0% / 0.333);

}

* {
    box-sizing: border-box;
}


/* Main section */

.main {
    display: flex;
}

.chess-board-page {
    float: left;
    display: flex;
    width: 80%;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* width: 100vw; */
    /* border: 1px solid black; */
}

.info-left {
    float: left;
    width: 25%;
    /* border: 1px solid var(--text-color); */
    height: 80vh;

}

.captured-pieces {
    border: 1px solid var(--text-color);
    height: 75%;
    border-radius: var(--rounded-border);
    box-shadow: var(--basic-shadow);
}

.about {
    border: 1px solid var(--text-color);
    height: 30%;
    margin: 1em;
    border-radius: var(--rounded-border);
    font-family: 'Courier New', Courier, monospace;
    box-shadow: var(--basic-shadow);
}
/* 
.about ul {
    display: flex;
    justify-content: space-between;
    padding: 1em;
} */

.about li {
    list-style-type: none;
    text-align: center;
    /* border: 1px solid black; */
    color: var(--text-color);
}





@media only screen and (max-width: 1500px) {
    .chess-board {
        width: 30rem;
        height: 30rem;
    }

    .about {
        height: 100%;
    }
    .about ul {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        flex-wrap: wrap;
    }
    .about img {
        /* width: 25%; */
        border-radius: 25%;
        transition: .4s;
    }
    .about img:hover {
        width: 30%;
        box-shadow: var(--basic-shadow);
    }
    
}

@media only screen and (min-width: 1500px) {
    .chess-board {
        width: 52rem;
        height: 52rem;
    }

    .about {
        height: 30%;
    }
    .about ul {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        
    }
    .about img {
        width: 70%;
        border-radius: 25%;
        transition: .4s;
    }
    .about img:hover {
        width: 75%;
        box-shadow: var(--basic-shadow);
    }
    
}

.chess-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 5px solid var(--text-color);
    box-shadow: var(--basic-shadow);

}

/* Info section */
.info-page {
    background-color: var(--off-white);
    float: left;
    display: flex;
    width: 20%;
    height: 100vh;
    border-left: .25em solid var(--text-color);
    padding: 10px;
    box-sizing: border-box;
    /* content: ""; */
    display: table;
    /* clear: both; */
}

.info-window {
    background-color: aliceblue;
    margin: auto;
    margin-top: 1em;
    border: 1px solid var(--text-color);
    /* padding: ; */
    width: 90%;
    height: 40%;
    /* box-shadow: var(--basic-shadow); */
    transition: .4s;
}
.info-window:hover {
    width: 92%;
    height: 41%;
    box-shadow: var(--basic-shadow);
}
.info-window h2:hover{
    color: var(--light);
}

h1,
h2 {
    text-align: center;
    font-family: var(--main-font);
    color: var(--bold);
    transition: .4s;
}

/* Save controls */
.save-controls {
    margin: auto;
    margin-top: 1em;
    /* border: 1px solid var(--text-color); */
    /* padding: ; */
    width: 90%;
    padding-left: 1em;

    /* Need to finish button layout */
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */

}

.save-controls button {
    padding: .75em;
    width: 22em;
    border-radius: 1vh;
    font-family: var(--main-font);
    border: 1px solid var(--text-color);
    background-color: var(--bold);
    color: aliceblue;
    margin-bottom: .25em;
    transition: .4s;
    
}

.save-controls button:hover {
    background-color: var(--light);
    width: 23em;
    box-shadow: var(--basic-shadow);

}

.save-controls:last-child {
    margin-bottom: 0em;
}



/* Chessboard for js */
.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square p {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.white {
    background-color: var(--off-white);
}

.black {
    background-color: var(--base);
}

.square.active {
    /* background-color: var(--bold); */
    border: 5px solid rgb(198, 0, 0);
}